<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title=="" ? '我的網頁' : title%></title>
    <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.css">
    
</head>

<body>